a {
    color: #007a74;
    text-decoration: none;
}

a:hover {
    color: #005e5a;
    text-decoration: underline;
}

.header-style {
    position: relative;
    padding: 30px 15px 20px 15px;
    color: #00b5ac;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #005e5a;
    background-repeat: repeat-x;
    font-size: 21px;
    text-align: left;
}

.header-style h2 {
    color: #FFF;
}

.footer-style {
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.footer-style p {
    margin-bottom: 0px;
}

#steps {
    margin-bottom: 15px;
    font-size: 12pt;
}

#step1 > p {
    margin: 0px 0px 15px;
}

#step2 > p {
    margin: 0px 0px 15px;
}

#step3 > p {
    margin: 0px 0px 15px;
}

#logos {
    text-align: center;
    padding-top: 15px;
}

#logos a {
    padding-left: 6px;
    padding-right: 6px;
}

.list-group-item.active {
    color: #fff;
}

.well {
    min-height: 20px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#f5f5f5 100%);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}

legend {
    font-size: 12pt;
}

#loadingDialog .modal-footer {
    padding: 15px 20px 0px 20px;
}

.modal-header {
    padding: 0px 15px;
    font-size: 14pt;
}

.modal-body {
    font-size: 14pt;
}

.panel-heading {
    font-size: 12pt;
}



// overriding of the Dynatable CSS

.table {
    border: 1px solid #999999;
}

.table > tbody > tr > td > a {
    color: #428bca;
}

.table > tbody > tr > td > a:hover {
    color: #3174AF;
}

.table > tbody > tr > td {
    border-color: #999999;
}

.table > thead > tr > th {
    border: 1px solid #999999;
}

.table > thead {
    border: 1px solid #999999;
}

th {
    background: #d6d6d6;
}
th > a {
    color: #000;
}
th > a:hover {
    color: #000;
    text-decoration: underline;
}

.dynatable-head {
    background: #d6d6d6;
}

.dynatable-search {
    float: right;
    margin-bottom: 10px;
}

.dynatable-pagination-links {
    float: right;
}

.dynatable-record-count {
    display: block;
    padding: 5px 0;
}

.dynatable-pagination-links span,
.dynatable-pagination-links li {
    display: inline-block;
}

.dynatable-page-link,
.dynatable-page-break {
    display: block;
    padding: 5px 7px;
}

.dynatable-page-link {
    cursor: pointer;
}

.dynatable-active-page,
.dynatable-disabled-page {
    cursor: text;
}
.dynatable-active-page:hover,
.dynatable-disabled-page:hover {
    text-decoration: none;
}

.dynatable-active-page {
    background: #005e5a;
    border-radius: 5px;
    color: #fff;
}
.dynatable-active-page:hover {
    color: #fff;
}
.dynatable-disabled-page,
.dynatable-disabled-page:hover {
    background: none;
    color: #999;
}